
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-S4zhhDSMxZSD2tS4wT7n329sL7hF5lM&callback=initMap">
    </script>

    <style type="text/css"> #map {
        height: 300px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
       }</style>

<h3>Our Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {

        var markers = [
        ['Our Leeds Office', 53.797920,-1.547088],
        ['Our Wakefield Office', 42.503940,-71.072339] 
        ];


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          //draggable:true,
          title: 'Our Leeds Office'
        });

        var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

         var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);

      }
    </script>
    