/* Add a black background color to the top navigation */
.topnav {
    background-color: #669999;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #D3D3D3;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

h1, title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    }

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#banner-fade{
    margin-left: 25%;
    margin-right: 25%;
}

#map {
        height: 300px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
       }
